.activity-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.gym-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.profile img{
    width: 100px;

}
.profile2{
    display: flex;

}
.profile3 img{
    width: 25px;
    
}
.profile3{
    display: flex;

}
.personal-info{
    
    background-color: rgb(231, 226, 233);
    border-radius: 10px;
    font-style: oblique;
    margin: 5px;
    padding: 5px;
   display: flex;
   justify-content: space-between;
}
.btn{ background-color: rgb(220, 220, 36);
    border-radius: 2px;
    height: 20px;
    align-items: center;
    display: flex;
    justify-items: center;
    margin: 5px;
    padding: 5px;
    
}

.activiy{
    margin: 5px;
}
.times{
    width: 200px;
    height: 30px;
    background-color: rgb(231, 226, 233);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}
.activity-toast{
    width: 300px;
    height: 30px;
    background-color: aqua;
    border: none;
padding-left: 10px;
margin: 10px;
border-radius: 4px;
}

@media screen and (min-width:1100px){
    .gym-container{
        grid-template-columns: repeat(3,1fr);
    }
    
}
@media screen and (max-width:700px) {
    .gym-container{
        grid-template-columns: 1fr;
    }
}